@using MIMS.Helpers
@model MIMS.Models.LogOnModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="img/fav.png">
    <title>SLAF Officers' Mess</title>

    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick-theme.min.css">

    <link href="@Url.Content("~/Asset/vendor/icons/feather.css")" rel="stylesheet" type="text/css">

    <link href="@Url.Content("~/Asset/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

    <link href="@Url.Content("~/Asset/css/style.css")" rel="stylesheet">

    <link href="@Url.Content("~/Asset/vendor/sidebar/demo.css")" rel="stylesheet">
</head>
<body>
    <div class="login-page vh-100">
        <video loop="" autoplay="" muted="" id="vid">
            <source src="@Url.Content("~/Asset/img/bg.mp4")" type="video/mp4">
            <source src="@Url.Content("~/Asset/img/bg.mp4")" type="video/ogg">
            Your browser does not support the video tag.
        </video>
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="px-5 col-md-6 ml-auto">
                <div class="px-5 col-10 mx-auto">
                    <h2 class="text-dark my-0">Welcome </h2>
                    <p class="text-50">Sign in to continue</p>
                    @Html.Message()
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "mt-5 mb-4" }))
                    {

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-dark">Username</label>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Enter Username", @id = "exampleInputEmail1", @aria_describedby = "emailHelp" })
                            <span class="help-inline">@Html.ValidationMessageFor(model => model.UserName)</span>


                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="text-dark">Password</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                            <span class="help-inline">
                                @Html.ValidationMessageFor(m => m.Password)
                            </span>


                        </div>

                        <div class="py-2">
                            <button class="btn btn-lg btn-facebook btn-block"><i class="feather-user"></i>LOGIN </button>
                        </div>
                    }
                    @* <a href="forgot_password.html" class="text-decoration-none">
                            <p class="text-center">Forgot your password?</p>
                        </a>
                        <div class="d-flex align-items-center justify-content-center">
                            <a href="signup.html">
                                <p class="text-center m-0">Don't have an account? Sign up</p>
                            </a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>


    <script type="ec73d80907b0eb4557eb9681-text/javascript" src="@Url.Content("~/Asset/vendor/jquery/jquery.min.js")"></script>
    <script type="ec73d80907b0eb4557eb9681-text/javascript" src="@Url.Content("~/Asset/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

    <script type="ec73d80907b0eb4557eb9681-text/javascript" src="@Url.Content("~/Asset/vendor/slick/slick.min.js")"></script>

    <script type="ec73d80907b0eb4557eb9681-text/javascript" src="@Url.Content("~/Asset/vendor/sidebar/hc-offcanvas-nav.js")"></script>

    <script type="ec73d80907b0eb4557eb9681-text/javascript" src="@Url.Content("~/Asset/js/osahan.js")"></script>
    <script src="@Url.Content("~/Asset/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js")" data-cf-settings="ec73d80907b0eb4557eb9681-|49" defer=""></script>
    <script defer="" src="@Url.Content("~/Asset/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194")" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"72a8dbe35fcfb305","version":"2022.6.0","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}' crossorigin="anonymous"></script>
</body>
</html>
