@using MIMS.Helpers
@using Dinota.Domain.UserType
@model List<UserType>
@{
    ViewBag.Title = "ProfileList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int DivisionId = int.Parse(TempData["DivisionId"].ToString());
}



<div id="content_wrapper" class="card-overlay">
    <div id="header_wrapper" class="header-md">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <a href="@Url.Content("~/DivisionInfo/RegisterUserType/")@DivisionId" class="btn btn-primary" style="float: right">
                        <i class="zmdi zmdi-plus"></i>
                       
                    </a>
                    <header id="header">
                        <h1>User Roles List</h1>

                    </header>

                </div>
            </div>
        </div>
    </div>
    <div id="content" class="container-fluid">
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card card-data-tables product-table-wrapper">
                        <header class="card-heading">

                            <h2 class="card-title">User Role List</h2>

                            <div class="card-search">
                                <div id="productsTable_wrapper" class="form-group label-floating is-empty">
                                    <i class="zmdi zmdi-search search-icon-left"></i>
                                    <input type="text" class="form-control filter-input" placeholder="Filter Products..." autocomplete="off">
                                    <a href="javascript:void(0)" class="close-search" data-card-search="close" data-toggle="tooltip" data-placement="top" title="Close"><i class="zmdi zmdi-close"></i></a>
                                </div>
                            </div>
                            <ul class="card-actions icons right-top">
                                <li id="deleteItems" style="display: none;">
                                    <span class="label label-info pull-left m-t-5 m-r-10 text-white"></span>
                                    <a href="javascript:void(0)" id="confirmDelete" data-toggle="tooltip" data-placement="top" data-original-title="Delete Product(s)">
                                        <i class="zmdi zmdi-delete"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-card-search="open" data-toggle="tooltip" data-placement="top" data-original-title="Filter Products">
                                        <i class="zmdi zmdi-filter-list"></i>
                                    </a>
                                </li>
                                <li class="dropdown" data-toggle="tooltip" data-placement="top" data-original-title="Show Entries">
                                    <a href="javascript:void(0)" data-toggle="dropdown">
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>
                                    <div id="dataTablesLength">
                                    </div>
                                </li>

                            </ul>
                        </header>
                        <div class="card-body p-0">
                            @Html.Message()
                            <div class="table-responsive">
                                <table id="productsTable" class="mdl-data-table product-table m-t-30" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-2">Name</th>
                                            <th class="col-xs-2">Edit</th>
                                            <th class="col-xs-2">Permission</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (UserType type in Model)
                                        {
                                            <tr>
                                                <td>@type.Name</td>

                                                <td><a href="@Url.Content("~/DivisionInfo/EditUserType/")@type.UId" class="btn btn-default">Edit</a></td>

                                                <td><a href="@Url.Content("~/Users/PermissionEdit/")@type.UId" class="btn btn-primary">Permission</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>