@using AlfasiWeb.Helpers
@using AlfasiWeb.Models
@model FileUploadModel

@{
    if(Model != null)
    {
        @Html.HiddenFor(m => m.ProjectUid, new { id = "hiddenProjectUid" })

        @Html.HiddenFor(m => m.FileName, new { id = "hiddenFileName" })
        @Html.HiddenFor(m => m.FileSize, new { id = "hiddenFileSize" })
        @Html.HiddenFor(m => m.Status, new { id = "hiddenStatus" })
        @Html.HiddenFor(m => m.UploadFilePath, new { id = "hiddenUploadFilePath" })
    }
}
   
<div id="group_table" class="login_bk">
    @{
        ViewBag.Title = "Mark List";
    }
    @Html.Message()
    <div class="content-bk">
        <div id="form_head">
            <h3>Tekla File Upload(IE)</h3>
        </div>
        <br />

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="Uploader">
                    <div class="Contaier-upload">
                        <div class="head_upload">
                            <div class="headings">
                                <h4 class="pull-left">
                                    File Uploader</h4>
                                <h6 class="pull-right">
                                    Drag and drop files here</h6>
                            </div>
                        </div>

                        <table class="table">
                            <tbody class="table_head">
                                <tr>
                                    <td class="span10">
                                        FileName
                                    </td>
                                    <td class="span2 ">
                                        <span>Size</span>
                                    </td>
                                    <td class="span2 ">
                                        <span>Status</span>
                                    </td>
                                    <td class="span1 ">
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div id="dragandrophandler" >
                            <table id="uploadfilelist" class="table">
                                <tbody class="content_area">

                                </tbody>
                            </table>
                        </div>

                        <form action="@Url.Action("UploadMsieFiles", "Base")" method="POST" enctype="multipart/form-data" id="TeklaIE">
                            <div class="upload_filelist_footer">
                                <div class="upload_file_foooter_list">
                                    <div class="Buton_area">
                                            
                                        <input type="file" accept="image/*" name="fileIeUpload" id="fileIeUpload" style='visibility: hidden;' onchange="fileSelected();"/>
                                        <input type = "button" value = "Select File" onclick ="javascript:document.getElementById('fileIeUpload').click();" />

                                        <button class="btn btn-small" type="submit" id="buttonUpload" disabled="disabled" id="buttonUpload">
                                            <i class="icon-upload" ></i>Upload</button>
                                        <button class="btn btn-small" type="button" id="buttonSave" disabled="disabled">
                                            Save</button>

                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var filequeue = new Array();
    var count = 0;

    var processedFileName;
    var processedFileSize;
    var processedStatus;
    var processedUploadedFilePath;

    $(document).ready(function () {

        processedFileName = $('#hiddenFileName').val();
        processedFileSize = $('#hiddenFileSize').val();
        processedStatus = $('#hiddenStatus').val();
        processedUploadedFilePath = $('#hiddenUploadFilePath').val();

        if (processedFileName != "") {

            var tr = document.createElement("tr");

            var tdFileName = document.createElement("td");
            tdFileName.setAttribute("class", "span11");
            tdFileName.innerHTML = processedFileName;
            tr.appendChild(tdFileName);

            var tdFileSize = document.createElement("td");
            tdFileSize.setAttribute("class", "span2");
            tdFileSize.innerHTML = processedFileSize;
            tr.appendChild(tdFileSize);

            var tdFileProgress = document.createElement("td");
            tdFileProgress.setAttribute("class", "span2");
            tdFileProgress.innerHTML = processedStatus;
            tr.appendChild(tdFileProgress);

            var tdFileRemove = document.createElement("td");
            tdFileRemove.setAttribute("class", "span1");
            tr.appendChild(tdFileRemove);

            $("#uploadfilelist tbody").append(tr);
        }


    });

    function fileTypeValidate(file, fileType) {

        var theFileType = null;
        var array = file.name.split('.');
        if (array.length > 1) {
            theFileType = array[1];
        }

        if (theFileType.match(fileType)) {
            return true;
        }
        return false;
    }

    function fileProgressDisplay(processingfiles) {

        var processingfileuniquekey = "F00" + count + "_";
        var processingfile = processingfiles[0];

        var tr = document.createElement("tr");

        var tdFileName = document.createElement("td");
        tdFileName.setAttribute("class", "span11");
        tdFileName.innerHTML = processingfileuniquekey + processingfile.name;
        tr.appendChild(tdFileName);

        var tdFileSize = document.createElement("td");
        tdFileSize.setAttribute("class", "span2");
        tdFileSize.innerHTML = processingfile.size;
        tr.appendChild(tdFileSize);

        var tdFileProgress = document.createElement("td");
        tdFileProgress.setAttribute("class", "span2");
        tdFileProgress.innerHTML = "0%";
        tr.appendChild(tdFileProgress);

        var tdFileRemove = document.createElement("td");
        tdFileRemove.setAttribute("class", "span1");
        var removeImg = document.createElement("img");
        removeImg.setAttribute("src", '@Url.Content("~/Content/fileupload/file-remove.png")');
        removeImg.setAttribute("onclick", "removeFile('" + processingfileuniquekey + "');");
        removeImg.setAttribute("height", "24");
        removeImg.setAttribute("width", "24");
        tdFileRemove.appendChild(removeImg);
        tr.appendChild(tdFileRemove);

        $("#uploadfilelist tbody").append(tr);

        var map = new Array(processingfile, processingfileuniquekey);
        filequeue.push({ file: map, tr: tr });

        count = count + 1;

        $("#buttonUpload").prop('disabled', false);
    }

    function fileSelected() {

        try {

            var files = document.getElementById('fileIeUpload').files;
            fileProgressDisplay(files);

            $("#fileToUpload").val("");

        } catch (err) {
            alert("Exception " + err);
        }
    }

    function removeImage(processingfileuniquekey) {

        try {

            $("#uploadfilelist tr").each(function () {

                if ($(this).find("td").eq(0).text().indexOf(processingfileuniquekey) != -1) {

                    var containtext = $(this).find("td").eq(0).text();

                    $(this).remove();

                    for (var b = 0; b < filequeue.length; b++) {

                        var processarray = filequeue[b];
                        var processmap = processarray.file;

                        if (containtext.indexOf(processmap[1]) != -1) {

                            filequeue.splice(b, 1);

                            break;
                        }
                    }

                }


            });


        } catch (err) {
            alert("Exception " + err);
        }
    }
	</script>
