@using AlfasiWeb
@using AlfasiWeb.Util
@using Dinota.Security
@using MvcContrib.UI.Pager
@model AlfasiWeb.Models.UserSearchModel
@using AlfasiWeb.Helpers

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";

    TempData.Keep(ViewDataKeys.UserTypeEnum);
    var usertypeenum = (byte)TempData[ViewDataKeys.UserTypeEnum];
    
}

    @{
        IDictionary<string, object> dictionary = new Dictionary<string, object>();
        dictionary.Add("data-toggle", "tab");

        RolePermission rolePermission = ViewData.ContainsKey(ViewDataKeys.Permission)
                                ? (RolePermission)ViewData[ViewDataKeys.Permission]
                                : new RolePermission(false);
    }
     
    <input type="hidden" value="@usertypeenum" id="hiddenuserstype"/>
     <div id="test" class="tabbable">
         <ul class="nav nav-tabs">
             <li class="active" id="liUser">@Ajax.ActionLink("Users", "LoadUserList", "users", new { typeenum = 1 }, new AjaxOptions() { OnFailure = "serverError();", UpdateTargetId = "divUserBase", OnSuccess = "Javascript:SuccessScript('liUser');" })</li>
             <li class="#tab2"  id="liManager">@Ajax.ActionLink("Project Managers", "LoadUserList", "users", new { typeenum = 2 }, new AjaxOptions() { OnFailure = "serverError();", UpdateTargetId = "divUserBase", OnSuccess = "Javascript:SuccessScript('liManager');" })</li>
             <li class="#tab3"  id="liSupplier">@Ajax.ActionLink("Procument Supplier", "LoadUserList", "users", new { typeenum = 3 }, new AjaxOptions() { OnFailure = "serverError();", UpdateTargetId = "divUserBase", OnSuccess = "Javascript:SuccessScript('liSupplier');" })</li>
             <li class="#tab5"  id="liFab">@Ajax.ActionLink("Fabrication", "LoadUserList", "users", new { typeenum = 4 }, new AjaxOptions() { OnFailure = "serverError();", UpdateTargetId = "divUserBase", OnSuccess = "Javascript:SuccessScript('liFab');" })</li>
             <li class="#tab4"  id="liTransporter">@Ajax.ActionLink("Transport & Shipping", "LoadUserList", "users", new { typeenum = 5 }, new AjaxOptions() { OnFailure = "serverError();", UpdateTargetId = "divUserBase", OnSuccess = "Javascript:SuccessScript('liTransporter');" })</li>
             <li class="#tab6"  id="liErector">@Ajax.ActionLink("Erection", "LoadUserList", "users", new { typeenum = 6 }, new AjaxOptions() { OnFailure = "serverError();", UpdateTargetId = "divUserBase", OnSuccess = "Javascript:SuccessScript('liErector');" })</li>
         </ul>
     </div>

    <script language="javascript" type="text/javascript">
        function SuccessScript(id) {
            try {
                $("#liUser").removeClass('#tab1 active');
                $("#liManager").removeClass('#tab2 active');
                $("#liSupplier").removeClass('#tab3 active');
                $("#liFab").removeClass('#tab4 active');
                $("#liTransporter").removeClass('#tab5 active');
                $("#liErector").removeClass('#tab6 active');

                if (id == 'liUser') {
                    $("#liUser").removeClass('#tab1');
                    $("#liUser").addClass('active');
                }

                if (id == 'liManager') {
                    $("#liManager").removeClass('#tab2');
                    $("#liManager").addClass('active');
                }

                if (id == 'liSupplier') {
                    $("#liSupplier").removeClass('#tab3');
                    $("#liSupplier").addClass('active');
                }

                if (id == 'liFab') {
                    $("#liFab").removeClass('#tab4');
                    $("#liFab").addClass('active');
                }

                if (id == 'liTransporter') {
                    $("#liTransporter").removeClass('#tab5');
                    $("#liTransporter").addClass('active');
                }

                if (id == 'liErector') {
                    $("#liErector").removeClass('#tab6');
                    $("#liErector").addClass('active');
                }


                
            } catch(e) {
                alert(e.name + ": " + e.message);
            } 
            

        }

        $(document).ready(function () {
            try {
                var type = document.getElementById('hiddenuserstype').value;

                $("#liUser").removeClass('#tab1 active');
                $("#liManager").removeClass('#tab2 active');
                $("#liSupplier").removeClass('#tab3 active');
                $("#liFab").removeClass('#tab4 active');
                $("#liTransporter").removeClass('#tab5 active');
                $("#liErector").removeClass('#tab6 active');

                if (type == 1) {
                    $("#liUser").removeClass('#tab1');
                    $("#liUser").addClass('active');
                }

                if (type == 2) {
                    $("#liManager").removeClass('#tab2');
                    $("#liManager").addClass('active');
                }

                if (type == 3) {
                    $("#liSupplier").removeClass('#tab3');
                    $("#liSupplier").addClass('active');
                }

                if (type == 4) {
                    $("#liFab").removeClass('#tab4');
                    $("#liFab").addClass('active');
                }

                if (type == 5) {
                    $("#liTransporter").removeClass('#tab5');
                    $("#liTransporter").addClass('active');
                }

                if (type == 6) {
                    $("#liErector").removeClass('#tab6');
                    $("#liErector").addClass('active');
                }


            } catch (e) {
                
                alert(e.name + ": " + e.message);
            } 
           
        });
          
    </script>

@using (Html.BeginForm("Index", "Users", FormMethod.Get ))
{
    <div id="divUserBase" class="s_pages" >
        @Html.Partial("LoadUserList")
    </div>
}
 

