@using AlfasiWeb
@using AlfasiWeb.Helpers
@using AlfasiWeb.Models
@model ResetPasswordModel
@{
   TempData.Keep(ViewDataKeys.UserTypeEnum);
    var test = TempData[ViewDataKeys.UserTypeEnum];
}

@using (Html.BeginForm("ResetPasswordProcess", "Users", new { id = (int)TempData[ViewDataKeys.UserId], Model }, FormMethod.Post))
{
    <div id="input_area">
        <div id="br_seperator">
        </div>
        @Html.ValidationSummary(true)
        <br />
        <div id="new_form_handle_row">
            @Html.Custom().LabelFor(model => model.UserName)
            <div class="display-field">@Model.UserName</div>
            <div class="clear">
            </div>
        </div>
        <div id="new_form_handle_row">
            @Html.Custom().LabelFor(model => model.NewPassword)
            @Html.Custom().PasswordFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
            <div class="clear">
            </div>
        </div>
        <div id="new_form_handle_row">
            @Html.Custom().LabelFor(model => model.ConfirmPassword)
            @Html.Custom().PasswordFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
            <div class="clear">
            </div>
        </div>
        <label for="btn" class="text_label">
            &nbsp;</label>
        <input type="submit" class="btn" value="Save" />
    </div>
    
    @Scripts.Render("~/bundles/jqueryval")
}