@using MIMS
@using MIMS.Helpers
@using Dinota.Security
@using Dinota.Domain.MenuCategory
@using AlfasiWeb.Models
@model HomeModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-none">
    <div class="bg-primary p-3 d-flex align-items-center">
        <a class="toggle togglew toggle-2" href="#"><span></span></a>
        <h4 class="font-weight-bold m-0 text-white">
            @if (Model.SLAFLocationUId == 1)
            {
                <span>Officers' Mess AFHQ</span>
            }
            else if (Model.SLAFLocationUId == 18)
            {
                <span>Officers' Mess SLAF Base Rma</span>
            }

        </h4>
    </div>
</div>
<div class="osahan-trending">

    <div class="container">
        <div class="most_popular py-5">
            <div class="d-flex align-items-center mb-4">
                <h3 class="font-weight-bold text-dark mb-0">Top Categories</h3>

            </div>
            <div class="row">
                @foreach (MenuCategory cat in Model.MenuCategoryList)
                {
                    <div class="col-lg-4 mb-3">
                        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm grid-card">
                            <div class="list-card-image">

                                <a href="@Url.Content("~/Menu/MenuItemIndex/")@cat.UId">
                                    <img alt="#" src="@Url.Content("~/Asset/img/menucat/"+@cat.ImgName+".jpg")" class="img-fluid item-img w-100">
                                </a>
                            </div>
                            <div class="p-3 position-relative">
                                <div class="list-card-body">
                                    <h6 class="mb-1">
                                        <a href="@Url.Content("~/Menu/MenuItemIndex/")@cat.UId" class="text-black">
                                            @cat.Name
                                        </a>
                                    </h6>

                                </div>

                            </div>
                        </div>
                    </div>
                }
                
            </div>
            
                @*<div class="d-flex align-items-center mb-4">
                <h3 class="font-weight-bold text-dark mb-0">Events</h3>

            </div>
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm grid-card">
                        <div class="list-card-image">

                            <a href="@Url.Content("~/Menu/EventHome/")">
                                <img alt="#" src="@Url.Content("~/Asset/img/menu/event.jpg")" class="img-fluid item-img w-100">
                            </a>
                        </div>
                        <div class="p-3 position-relative">
                            <div class="list-card-body">
                                <h6 class="mb-1">
                                    <a href="@Url.Content("~/Menu/EventHome/")" class="text-black">
                                        Officers' Mess Events
                                    </a>
                                </h6>

                            </div>

                        </div>
                    </div>
                </div>
            </div>*@
            </div>
    </div>


</div>
