@using MIMS
@using MIMS.Helpers
@using Dinota.Security
@using Dinota.Domain.IngredientBOC
@using Dinota.Domain.Event
@using AlfasiWeb.Models
@model IngredientBOC
@{
    ViewBag.Title = "_CreateEdit";
}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="exampleInputName1"><b>Item</b> :</label>
            @TempData["ItemName"]
            @Html.HiddenFor(p=>p.IngredientUId)
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="exampleInputName1"><b>Measure Unit</b> : </label>
            @TempData["Unit"]
            @Html.HiddenFor(p => p.UnitId)
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="exampleInputName1">Date</label>
@if (Model.UId == 0)
{
    @Html.TextBoxFor(s => s.EffectiveDate, new { @class = "form-control ", @placeholder = "Date", @type = "date" })
}
else
{
    @Html.TextBoxFor(p => p.EffectiveDate, "{0:yyyy-MM-dd}", new { @class = "form-control  ", @type = "date", @placeholder = "Date", @value = @Model.EffectiveDate.ToString("MM/dd/yyyy") })

  
}
           

          
          
             @Html.ValidationMessageFor(m => m.EffectiveDate, "")
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="exampleInputName1">Price</label>
            @Html.TextBoxFor(m => m.Price, new { @placeholder = "Enter Qty", @data_rule_required = "true", @data_rule_email = "true", @class = "form-control", @aria_required = "true", @Required = "true" })
            @Html.ValidationMessageFor(m => m.Price, "")
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="exampleInputName1">Qty</label>
            @Html.TextBoxFor(m => m.Qty, new { @placeholder = "Enter Qty", @data_rule_required = "true", @data_rule_email = "true", @class = "form-control", @aria_required = "true", @Required = "true"})
            @Html.ValidationMessageFor(m => m.Qty, "")
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="exampleInputName1">Voucher No</label>
            @Html.TextBoxFor(m => m.VoucherNo, new { @placeholder = "Enter Voucher No", @data_rule_required = "true", @data_rule_email = "true", @class = "form-control", @Required = "true" })
            @Html.ValidationMessageFor(m => m.VoucherNo, "")
        </div>
    </div>
    <div class="col-md-12">&nbsp;</div>
        @if (Model.UId == 0)
        {


            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>


        }
        else
        {
            <div class="form-group">
                <label for="exampleInputName1">Active</label>
                @Html.CheckBoxFor(m => m.Active)
            </div>
            <div class="col-md-12">&nbsp;</div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block">Update</button>
            </div>
        }


    </div>
