@using MIMS
@using MIMS.Helpers
@using Dinota.Security
@using Dinota.Domain.MenuCategory
@using Dinota.Domain.Event
@using AlfasiWeb.Models
@model Event
    @{
        ViewBag.Title = "MenuOrderList";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="d-none">
        <div class="bg-primary border-bottom p-3 d-flex align-items-center">
            <a class="toggle togglew toggle-2" href="#"><span></span></a>
            <h4 class="font-weight-bold m-0 text-white">Add Event</h4>
        </div>
    </div>
    <div class="container position-relative">
        <div class="py-5 osahan-profile row">
            
            <div class="col-md-12 mb-3">
                <div class="rounded shadow-sm p-4 bg-white">
                    <h5 class="mb-4">Add Event</h5>
                    <div id="edit_profile">
                        <div>
                           @Html.Message()
                        @using (Html.BeginForm("AddEvent", "Menu", null, FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
                        {
                                <div class="form-group">
                                    <label for="exampleInputName1">Event Name</label>
                                    @Html.TextBoxFor(m => m.EventName, new { @placeholder = "Enter Name", @data_rule_required = "true", @data_rule_email = "true", @class = "form-control", @aria_required = "true" })
                                    @Html.ValidationMessageFor(m => m.EventName, "")
                                    
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName1">Date</label>
                                    @Html.TextBoxFor(m => m.EffectiveDate, new { @placeholder = "Enter Date", @data_rule_required = "true", @data_rule_email = "true", @class = "form-control", @aria_required = "true",@type="date" })
                                    @Html.ValidationMessageFor(m => m.EffectiveDate, "")
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName1">Description</label>
                                    @Html.TextBoxFor(m => m.Description, new { @placeholder = "Enter Description",@class = "form-control",@rows="5",@style="width:100%"})
                                    @Html.ValidationMessageFor(m => m.Description, "")
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputNumber1">Event Image</label>
                                    <input type="file" class="form-control" name="uploadfile">
                                </div>
                                
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                </div>
                        }
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
