@using MIMS
@using MIMS.Helpers
@using Dinota.Security
@using Dinota.Domain.MenuCategory
@using Dinota.Domain.EventAttendance
@using Dinota.Domain.EventParticipationKid
@using AlfasiWeb.Models
@model List<EventAttendance>
@{

    int i = 0;
    ViewBag.Title = "MenuOrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-none">
    <div class="bg-primary border-bottom p-3 d-flex align-items-center">
        <a class="toggle togglew toggle-2" href="#"><span></span></a>
        <h4 class="font-weight-bold m-0 text-white">Event Participation Attendance Detail</h4>
    </div>
</div>
<div class="container position-relative">
    <div class="py-5 row">
        <div class="col-md-12 mb-3">
            <div>
                <div class="osahan-cart-item mb-3 rounded shadow-sm bg-white overflow-hidden">
                    <div class="osahan-cart-item-profile bg-white p-3">
                        <div class="d-flex flex-column">
                            <h6 class="mb-3 font-weight-bold">Event Participation Attendance  Details</h6>
                            <div class="row">
                                <div class="col-md-12" style="overflow:scroll">
                                    <table border="1" cellspacing="5" cellpadding="5" width="100%">
                                        <thead>
                                        <th>S. No</th>
                                        <th>Ser. No</th>
                                        <th>Officer</th>
                                        <th>Adult Count</th>
                                        <th>Children Count</th>
                                        <th>Guest Count</th>
                                        </thead>
                                        <tbody>

                                            @foreach (EventAttendance eve in Model)
                                            {
                                                i++;
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@eve.ServiceNo</td>

                                                    <td>@eve.Name</td>
                                                    <td>@eve.AdultCount</td>
                                                    <td>@eve.KidCount</td>
                                                    <td>@eve.GuestCount</td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
