@using MIMS
@using MIMS.Helpers
@using Dinota.Security
@using Dinota.Domain.MenuCategory
@using Dinota.Domain.Event
@using AlfasiWeb.Models
@model List<EventParticipateModel>
@{
    ViewBag.Title = "MenuOrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //string mode = TempData["usermode"].ToString();
}
<div class="d-none">
    <div class="bg-primary border-bottom p-3 d-flex align-items-center">
        <a class="toggle togglew toggle-2" href="#"><span></span></a>
        <h4 class="font-weight-bold m-0 text-white">Officers' Mess Events</h4>
    </div>
</div>
<div class="container position-relative">
    <div class="py-5 row">
        <div class="col-md-12 mb-3">
            <div>
                <div class="osahan-cart-item mb-3 rounded shadow-sm bg-white overflow-hidden">
                    <div class="osahan-cart-item-profile bg-white p-3">
                        <div class="d-flex flex-column">
                            <h6 class="mb-3 font-weight-bold">Officers' Mess Events</h6>
                            <div class="row" id="eventPlace">
                                @Html.Message()
                                @foreach (EventParticipateModel e in Model)
                                {
                                    var base64 = Convert.ToBase64String(e.Event.Img);
                                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                                    <div class="custom-control col-lg-12 custom-radio mb-3 position-relative border-custom-radio">
                                        <img src="@imgSrc" class="img-responsive" style="width:100%" />
                                        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" checked="">


                                        <div class="p-3 bg-white rounded shadow-sm w-100">
                                            <div class="d-flex align-items-center mb-2">
                                                <h6 class="mb-0" style="text-transform: uppercase">@e.Event.EventName</h6>

                                            </div>
                                            <p class=" m-0"><b>Event Date: </b>@e.Event.EffectiveDate.ToString("dd/MM/yyyy")</p>
                                            @if (!string.IsNullOrEmpty(e.Event.Description))
                                            {
                                                <p style="font-size: 12px; padding-top: 10px; text-align: justify"><b>Event Description: </b>@Html.Raw(e.Event.Description)</p>
                                            }
                                        </div>
                                        <div class="row">
                                            @if (e.ParticipationSubmit)
                                            {
                                                if (e.IsParticipated)
                                                {
                                                    <p style="padding: 10px; background-color: #b6ff00; color: #000; font-size: 14px; width: 100%">Willing to participate for the Event.</p>
                                                    <a href="@Url.Content("~/Menu/UpdateEventStatus/")@e.EventParticipation.UId" class="btn btn-dark" style="width:100%;padding:10px">Update Paticipation Details</a>
                                                }
                                                else
                                                {
                                                    <p style="padding: 10px; background-color: #d17474; color: #000; font-size: 14px; width: 100%">Not willing to participate for the Event.</p>

                                                }
                                            }
                                            else
                                            {
                                                <div class="col-md-6" @*id="participateBtn"*@>
                                                    <a href="#" data-toggle="modal" data-target="#exampleModal" id="pbtn1" class="btn btn-block btn-dark border-top" onclick="AssignEventValue2(@e.Event.UId)">Click here to participate</a>
                                                </div>
                                                <div class="col-md-6" @*id="notparticipateBtn"*@>
                                                    <a href="#" data-toggle="modal" data-target="#notModal" id="pbtn2" class="btn btn-block btn-primary border-top" onclick="AssignEventValue(@e.Event.UId)">Not Participating</a>
                                                </div>
                                            }
                                        </div>

                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

@if (Model.Count > 0)
{
    <input type="hidden" value="@Model[0].RankUId" name="RankVal" id="RankVal">
    if (Model[0].UserMode == "1")
    {

        <script>

            $(document).ready(function () {
                hideVehicleNo();
            });


            //document.getElementById("vehiclenodiv1").style.display = "none";
            //document.getElementById("vehiclenodiv2").style.display = "none";
        </script>
    }
    else if (Model[0].UserMode == "2")
    {

        @*<script>
                document.getElementById("pbtn1").style.display = "none";
                document.getElementById("pbtn2").style.display = "none";
            </script>*@
    }
    else
    {
        <script>
            document.getElementById("pbtn1").style.display = "none";
            document.getElementById("pbtn2").style.display = "none";
        </script>
    }



    @*if (Model[0].RankUId != 27 && Model[0].RankUId != 10)
        {
        <script>
            document.getElementById("participateBtn").style.display = "none";
            document.getElementById("notparticipateBtn").style.display = "none";
        </script>
        }
        else
        {
        <script>
            document.getElementById("participateBtn").style.display = "block";
            document.getElementById("notparticipateBtn").style.display = "block";
        </script>
        }*@
}

<div class="modal fade" id="notModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Event Not Participation Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("CancelEvent", "Menu", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="modal-body">

                    <div class="form-row">
                        <input type="hidden" name="eventuid" id="eventuid">
                        <div class="mb-0 col-md-12 form-group">

                            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                                <label class="btn btn-outline-secondary active">
                                    <input type="radio" name="notparticipating" value="1" id="option1" checked="">
                                    YES
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="notparticipating" value="0" id="option2">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer p-0 border-0">
                    <div class="col-6 m-0 p-0">
                        <button type="button" class="btn border-top btn-lg btn-block" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-6 m-0 p-0">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Save changes</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Participate Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("ParticipateEvent", "Menu", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="modal-body">
                    <input type="hidden" name="eventuid" id="eventuid2">
                    <div class="form-row">
                        <div class="mb-0 col-md-12 form-group">
                            <label class="form-label"><b>Meal preference </b></label>
                            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                                <label class="btn btn-outline-secondary active">
                                    <input type="radio" name="IsVeg" value="1" checked="">
                                    Non Vegetarian
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="IsVeg" value="0">
                                    Vegetarian
                                </label>
                                <p></p>
                            </div>
                            <label class="form-label">
                                <br />
                                <b>Alcohol preference</b>
                            </label>
                            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                                <label class="btn btn-outline-secondary active">
                                    <input type="radio" name="IsAlcohol" value="1" checked="">
                                    Alcohol
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="IsAlcohol" value="2">
                                    Wine
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="IsAlcohol" value="4">
                                    Both
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="IsAlcohol" value="3">
                                    None
                                </label>
                                <p></p>
                            </div>
                            <label class="form-label">
                                <br />
                                <b>Is the Spouse participating in the event ?</b>
                            </label>
                            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                                <label class="btn btn-outline-secondary active">
                                    <input type="radio" name="participatefamily" value="1" checked="" onclick="changeSpouseState1()">
                                    Yes
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="participatefamily" value="0" onclick="changeSpouseState2()">
                                    No
                                </label>
                                <p></p>
                            </div>
                            <label class="form-label" id="spousevegnon1">
                                <br />
                                <b>Meal preference </b>
                            </label>
                            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons" id="spousevegnon2">
                                <label class="btn btn-outline-secondary active">
                                    <input type="radio" name="spouseVeg" value="1" id="spouseVeg1" checked="">
                                    Non Vegetarian
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="spouseVeg" value="0" id="spouseVeg2">
                                    Vegetarian
                                </label>
                                <p></p>
                            </div>
                            <label class="form-label" id="IsSpouseAlcohol1"><br /><b>Alcohol / Wine preference</b></label>
                            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons" id="IsSpouseAlcohol2">
                                <label class="btn btn-outline-secondary active">
                                    <input type="radio" name="IsSpouseAlcohol" value="1" checked="">
                                    Alcohol
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="IsSpouseAlcohol" value="2">
                                    Wine
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="IsAlcohol" value="4">
                                    Both
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="IsAlcohol" value="3">
                                    None
                                </label>
                                <p></p>
                            </div>
                            <label class="form-label">
                                <br /><b>Does OMT require Dinner ? <br />(Meal will be provided at the parking lot)</b>
                            </label>
                            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                                <label class="btn btn-outline-secondary active">
                                    <input type="radio" name="IsOmt" value="1" checked="" onclick="changeOMTState1()">
                                    Yes
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="IsOmt" value="0" onclick="changeOMTState2()">
                                    No
                                </label>
                                <p></p>
                            </div>
                            <label class="form-label" id="IsOMTVeg1">
                                <br />
                                <b> OMT meal preference</b>
                            </label>
                            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons" id="IsOMTVeg2">
                                <label class="btn btn-outline-secondary active">
                                    <input type="radio" name="IsOMTVeg" value="1" checked="">
                                    Non Vegetarian
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="IsOMTVeg" value="0">
                                    Vegetarian
                                </label>
                                <p></p>
                            </div>
                            <label class="form-label" id="IsValet1">
                                <br /><b>Do you require Valet parking ?</b>
                            </label>
                            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons" id="IsValet2">
                                <label class="btn btn-outline-secondary active">
                                    <input type="radio" name="IsParking" value="1" checked="" onclick="changeValetState1()">
                                    Yes
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="IsParking" value="0" onclick="changeValetState2()">
                                    No
                                </label>
                                <p></p>
                            </div>
                            @if (Model.Count > 0)
                            {

                                if (Model[0].UserMode == "2")
                                {
                                    <label class="form-label" id="IsTransport1">
                                        <br /><b>Do you require Transport ?</b>
                                    </label>
                                    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons" id="IsTransport2">
                                        <label class="btn btn-outline-secondary active">
                                            <input type="radio" name="IsTransport" value="1" checked="">
                                            Yes
                                        </label>
                                        <label class="btn btn-outline-secondary">
                                            <input type="radio" name="IsTransport" value="0">
                                            No
                                        </label>
                                        <p></p>
                                    </div>
                                    <label class="form-label" id="IsChanging1">
                                        <br /><b>Do you require Changing Room ?</b>
                                    </label>
                                    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons" id="IsChanging2">
                                        <label class="btn btn-outline-secondary active">
                                            <input type="radio" name="IsChangingRoom" value="1" checked="">
                                            Yes
                                        </label>
                                        <label class="btn btn-outline-secondary">
                                            <input type="radio" name="IsChangingRoom" value="0">
                                            No
                                        </label>
                                        <p></p>
                                    </div>
                                    <div class="btn-group btn-group-toggle w-100" id="vehiclenodiv1">

                                        <label class="form-label">
                                            <br />
                                            <b>Enter your Vehicle No</b>
                                        </label>
                                    </div>

                                    <div class="btn-group btn-group-toggle w-100" id="vehiclenodiv2">

                                        <input type="text" name="VehicleNo" id="VehicleNo" class="form-control">
                                    </div>
                                }



                            }
                            <div class="btn-group btn-group-toggle w-100" id="vehiclenodiv1">
                                <label class="form-label">
                                    <br />
                                    <b>Please notify any special requirements, especially food allergies.</b>
                                </label>
                            </div>
                            <div class="btn-group btn-group-toggle w-100">

                                <input type="text" name="Remark" id="Remark" class="form-control">
                            </div>

                            @*<div class="btn-group btn-group-toggle w-100" data-toggle="buttons">

            <label class="form-label">
                <br />
                Enter number of children  </label>
        </div>
        <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">

            <input type="number" name="kidscount" id="kidscount" value="0" class="form-control">
        </div>
        <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
            <div class="buttons">
                <a id="add_Row" class="btn-dark btn-group" style="color: white; padding: 10px; padding-top: 5px; padding-bottom: 5px;" onclick="addRow()">Add Children</a>
                <a id="delete_Row" class="btn-danger btn-group" style="color: white; padding: 10px; padding-top: 5px; padding-bottom: 5px;" onclick="removeRow()">Clear</a>

            </div>
        </div>
        <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
            <input type="hidden" name="kidrowcount" id="kidrowcount" value="0">
            <table class="test" width="100%" cellspacing="5" cellpadding="5">
                <thead>
                    <tr>
                        <th>Child</th>
                        <th>Select Age</th>
                        <th>Veg/Non Veg</th>
                    </tr>
                </thead>
                <tbody id="kidstbody"></tbody>
            </table>

        </div>

        <label class="form-label">
            <br />
            No of Guests </label>
        <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
            <input type="number" min="0" class="form-control" name="memcount" id="memcount" value="0" onkeyup="getGuestCount()" onchange="getGuestCount()" />

        </div>*@
                        </div>

                        </div>

                    </div>
                    <div class="modal-footer p-0 border-0">
                        <div class="col-6 m-0 p-0">
                            <button type="button" class="btn border-top btn-lg btn-block" data-dismiss="modal">Close</button>
                        </div>
                        <div class="col-6 m-0 p-0">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Participate</button>
                        </div>
                    </div>
                }
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Participate Event</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            @using (Html.BeginForm("ParticipateEvent", "Menu", null, FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                <div class="modal-body">
                                    <input type="hidden" name="eventuid" id="eventuid2">
                                    <div class="form-row">
                                        <div class="mb-0 col-md-12 form-group">
                                            <label class="form-label">Select the option below </label>
                                            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                                                <label class="btn btn-outline-secondary active">
                                                    <input type="radio" name="IsVeg" value="1" checked="">
                                                    Non Vegetarian
                                                </label>
                                                <label class="btn btn-outline-secondary">
                                                    <input type="radio" name="IsVeg" value="0">
                                                    Vegetarian
                                                </label>
                                                <p></p>
                                            </div>


                                        </div>

                                    </div>

                                </div>
                                <div class="modal-footer p-0 border-0">
                                    <div class="col-6 m-0 p-0">
                                        <button type="button" class="btn border-top btn-lg btn-block" data-dismiss="modal">Close</button>
                                    </div>
                                    <div class="col-6 m-0 p-0">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Participate</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
