@using MIMS
@using MIMS.Helpers
@using Dinota.Security
@using Dinota.Domain.MenuOrderItemDetail
@using Dinota.Domain.MenuOrderHeader
@using AlfasiWeb.Models
@model MessBillModel
@{
    ViewBag.Title = "MenuOrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-none">
    <div class="bg-primary border-bottom p-3 d-flex align-items-center">
        <a class="toggle togglew toggle-2" href="#"><span></span></a>
        <h4 class="font-weight-bold m-0 text-white">Mess Bill Summary</h4>
    </div>
</div>
<div class="container position-relative">
    <div class="py-5 osahan-profile row">

        <div class="col-md-12 mb-3">
            <div class="rounded shadow-sm p-4 bg-white">
                <h5 class="mb-4">Mess Bill Summary</h5>
                <div id="edit_profile">
                    <div>
                      
                        @using (Html.BeginForm("MessBill", "Menu", null, FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
                        {
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputName1">Search Month</label>
                                    @Html.TextBoxFor(m => m.EffectiveDate, new { @placeholder = "Enter Name", @type = "month", @data_rule_email = "true", @class = "form-control", @aria_required = "true",@Required="" })
                                    @Html.ValidationMessageFor(m => m.EffectiveDate, "")

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-center">
                                    <label for="exampleInputName1">&nbsp;</label>
                                    <button type="submit" class="btn btn-primary btn-block">Get Mess Bill Amount</button>
                                </div>
                            </div>
                        </div>
                            }

                            <table width="100%" cellpadding="10" cellspacing="10" border="1">
                                <tr>
                                    <td><b>Description</b></td>

                                    <td><b>Total Amount</b></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>Mess bill amount for the month of @DateTime.Now.ToString("MMM")</td>

                                    <td>@Model.CurrentAmount.ToString("00.00")</td>
                                    <td>
                                        <a href="@Url.Content("~/Menu/MyF140Data/")" class="btn btn-primary px-3">View Detail</a>
                                    </td>
                                </tr>

                            </table>
                            <div class="tab-pane  " id="delivered" role="tabpanel" aria-labelledby="delivered-tab">
                                <div class="order-body">
                                    @foreach (MenuOrderHeaderDetailModel ord in Model.MenuOrders)
                                    {
                                        <div class="pb-3">
                                            <div class="p-3 rounded shadow-sm bg-white">
                                                @foreach (MenuOrderItemDetail item in ord.MenuOrderItemDetailList)
                                                {
                                                    <div class="d-flex border-bottom pb-3">
                                                        <div class="text-muted mr-3">
                                                            <img alt="#" src="@Url.Content("~/Asset/img/menu/" + item.MenuItem.ImgName + ".jpg")" class="img-fluid order_img rounded">
                                                        </div>
                                                        <div>
                                                            <p class="mb-0 font-weight-bold"><a href="restaurant.html" class="text-dark">@item.MenuItem.Name</a></p>
                                                            <p>
                                                                Quantity :   <span>  @item.Qty @item.MenuItem.MeasurementUnit.Unit</span>

                                                            </p>


                                                            <p>
                                                                <b>Location</b> : @item.MenuOrderHeader.Location
                                                                <br />
                                                                <b>
                                                                    Date and Time
                                                                </b> : @item.MenuOrderHeader.OrderDate.ToString("dd/MM/yyyy") @item.MenuOrderHeader.Time
                                                                <br />
                                                                <b> Remark</b> : @item.Remark
                                                            </p>
                                                        </div>
                                                        <div class="ml-auto">
                                                            <p class="bg-dark text-white py-1 px-2 rounded small mb-1">Delivered</p>
                                                            <p class="small font-weight-bold text-center"><i class="feather-clock"></i> @item.MenuOrderHeader.EffectiveDate</p>
                                                        </div>

                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>

