@using MIMS
@using MIMS.Helpers
@using Dinota.Security
@using Dinota.Domain.RoomInfo
@using Dinota.Domain.Event
@using AlfasiWeb.Models
@model RoomInfo
@{
    ViewBag.Title = "_CreateEdit";
}

<div class="form-group">
    <label for="exampleInputName1">Select Room</label>
    @Html.DropDownListFor(model => model.RoomUId, (IEnumerable<SelectListItem>)ViewData[MIMS.ViewDataKeys.RoomNoList], "-- Select Room  --", new { @class = "full-width form-control", @required = "true" })
    @Html.ValidationMessageFor(m => m.RoomUId, null, new { @class = "help-inline" })




</div>
<div class="form-group">
    <label for="exampleInputName1">Service No</label>
    @Html.TextBoxFor(m => m.ServiceNo, new { @placeholder = "Enter Service No", @data_rule_required = "true", @data_rule_email = "true", @class = "form-control", @aria_required = "true",@Required= "true" })
    @Html.ValidationMessageFor(m => m.ServiceNo, "")
</div>

@if (Model.UId == 0)
{

    <div class="form-group">
        <label for="exampleInputName1">Active</label>
        @Html.CheckBoxFor(m => m.Active)
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>


}
else
{
    <div class="form-group">
        <label for="exampleInputName1">Active</label>
        @Html.CheckBoxFor(m => m.Active)
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-block">Update</button>
    </div>
}



