@using MIMS.Helpers
@using MIMS.Models
@model ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content_wrapper" class="card-overlay">
    <div id="header_wrapper" class="header-md ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <header id="header">
                        <h1>Change Password</h1>
                        <ol class="breadcrumb">
                            <li><a href="@Url.Content("~/Home/Index")">Dashboard</a></li>
                            <li><a href="javascript:void(0)">Change Password</a></li>
                        </ol>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="container">

        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <header class="card-heading ">
                            <h2 class="card-title">Change Password</h2>
                        </header>
                        <div class="card-body" style="display:inline-block">
                            @Html.Message()
                            @using (Html.BeginForm())
                            {
                                
                                    <label for="nameInput" class="col-sm-4 control-label">Old Password</label>
                                    <div class="col-sm-8">

                                        @Html.Custom().PasswordFor(model => model.OldPassword)
                                        @Html.ValidationMessageFor(model => model.OldPassword)
                                    </div>
                                
                                <div class="col-md-12">&nbsp;</div>
                                
                                    <label for="emailInput" class="col-sm-4 control-label">New Password</label>
                                    <div class="col-sm-8">
                                        @Html.Custom().PasswordFor(model => model.NewPassword)
                                        @Html.ValidationMessageFor(model => model.NewPassword)



                                    </div>
                                
                                <div class="col-md-12">&nbsp;</div>
                              
                                    <label for="emailInput" class="col-sm-4 control-label">Confirm Password</label>
                                    <div class="col-sm-8">

                                        @Html.Custom().PasswordFor(model => model.ConfirmPassword)
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword)

                                    </div>
                             
                               
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                                
                                        <div class="cleardix"></div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
