@using MIMS
@using MIMS.Helpers
@using Dinota.Security
@using Dinota.Domain.MenuCategory
@using Dinota.Domain.MenuItemDetail
@using AlfasiWeb.Models
@model  OfficerMessBillModel
@{
    ViewBag.Title = "MenuOrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-none">
    <div class="bg-primary border-bottom p-3 d-flex align-items-center">
        <a class="toggle togglew toggle-2" href="#"><span></span></a>
        <h4 class="font-weight-bold m-0 text-white">Mess Bill List</h4>
    </div>
</div>

<div class="container position-relative">
    <div class="py-5 osahan-profile row">
        <p style="font-size:16px;"><b>Mess Bill List</b></p>
        <div class="col-md-12 mb-3">
            <div class="clearfix"></div>
            @Html.Message()
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>

                        <th>Service No</th>
                        <th>Name</th>
                        <th>Living Status</th>
                        <th>Mess Bill Amount (Rs.)</th>
                        <th>Bar Bill Amount (Rs.)</th>
                        <th>Welfare shop amount (Rs.)</th>
                        @foreach (string s in Model.SubcritionHeading)
                        {
                            <th>@s</th>
                        }
                        @*<th>Subscriptions Amount (Rs.)</th>*@
                        <th>Total Bill Amount (Rs.)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (OffcerRecoveryList ord in Model.OffcerRecoveryList)
                    {

                    <tr>
                        <td>@ord.oUserAccount.UserName</td>
                        <td>
                            @if (ord.oUserAccount.Rank != null)
                            {
                                <span>@ord.oUserAccount.Rank.Name</span>
                            }
                            @ord.oUserAccount.Name
                        </td>
                        <td style="text-align:right">
                            @if (ord.oUserAccount.UserStatus != null)
                            {
                                @ord.oUserAccount.UserStatus.Status
                            }
                        </td>
                        <td style="text-align:right">
                            @ord.MessBill.ToString("00.00")

                        </td>
                        <td style="text-align:right">
                            @ord.Barbill.ToString("00.00")

                        </td>
                        <td style="text-align:right">
                            @ord.WelfareshopBill.ToString("00.00")

                        </td>
                        @foreach (decimal d in ord.SubcritionAmount)
                        {
                            <td style="text-align:right">
                                @d.ToString("00.00")
                            </td>
                        }

                        @{
                            decimal total = ord.MessBill + ord.Barbill + ord.Subscription;
                        }
                        <td style="text-align:right">
                            @total.ToString("00.00")

                        </td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
<script src="~/Asset/js/jquery-3.5.1.js"></script>
<script src="~/Asset/js/jquery.dataTables.min.js"></script>
<script src="~/Asset/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
