@using MIMS
@using MIMS.Helpers
@using Dinota.Security
@using Dinota.Domain.MenuItem
@using Dinota.Domain.IngredientInfo
@using Dinota.Domain.MenuOrderItemDetail
@using Dinota.Domain.MenuOrderExtraItemDetail
@using AlfasiWeb.Models
@model OfficerMenuOrderModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime date = new DateTime();
}
<div class="d-none">
    <div class="bg-primary border-bottom p-3 d-flex align-items-center">
        <a class="toggle togglew toggle-2" href="#"><span></span></a>
        <h4 class="font-weight-bold m-0 text-white">Room Information Edit</h4>
    </div>
</div>
<div class="container position-relative">
    <div class="py-5 osahan-profile row">

        <div class="col-md-12 mb-3">
            @if (Model.MenuOrderHeader.Status == 10)
            {
                <a href="@Url.Content("~/Order/OfficerList/")@Model.MenuOrderId" class="btn btn-primary px-3">Add Officers to Order</a>
            }
            <table class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Menu Item</th>
                        <th>Qty</th>
                        <th>Unit</th>
                        <th>Remark</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MenuOrderItemDetail info in Model.MenuOrderItemDetailList)
                    {
                        <tr>
                            <td>@info.MenuItem.Name</td>
                            <td>@info.Qty</td>
                            <td>@info.MenuItem.MeasurementUnit.Unit</td>
                            <td>@info.Remark</td>
                        </tr>
                    }
                    @foreach (MenuOrderExtraItemDetail info in Model.MenuOrderOtherItemDetailList)
                    {
                        <tr>
                            <td>@info.IngredientInfo.ItemName</td>
                            <td>@info.Qty</td>
                            <td>@info.IngredientInfo.MeasurementUnit.Unit</td>
                            <td>@info.Remark</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="text-center">
                @if (Model.MenuOrderHeader.Status == 10)
                {
                    <a href="@Url.Content("~/Order/ProcessOrder/")@Model.MenuOrderId" class="btn btn-dark btn-block">Process Order</a>
                }
                <br /><br />
            </div>

            @Html.Message()
            @if (Model.MenuOrderHeader.Status == 10)
            {
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Menu Category</th>
                            <th>Menu Item</th>
                            <th>Detail</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (MenuItem info in Model.MenuItemList)
                        {
                            <tr>
                                <td>@info.MenuCategory.Name</td>
                                <td>@info.Name</td>
                                <td>@info.Description</td>

                                <td>

                                    <a href="@Url.Content("~/Order/MenuOrder?MenuItemId=" + info.UId + "&&OrderId=" + Model.MenuOrderId + "&&OrderMenuType=1")" class="btn btn-primary px-3">Add Menu</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
                <div class="col-md-12 mb-3">
                    <div class="rounded shadow-sm p-4 bg-white">
                        <h5 class="mb-4">Update Order Date</h5>
                        <div id="edit_profile">
                            <div>

                                @using (Html.BeginForm("UpdateDate", "Order", new { id = Model.MenuOrderId }, FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
                                {
                                    <div class="form-group">
                                        <label for="exampleInputName1">Select Date</label>

                                        @if (!string.IsNullOrEmpty(Model.EffectiveDate.ToString()))
                                        {
                                            date = DateTime.Parse(Model.EffectiveDate.ToString());


                                            @Html.TextBoxFor(m => m.EffectiveDate, "{0:yyyy-MM-dd}", new { @placeholder = "Enter Date", @class = "form-control", @type = "date", @Required = "true", @value = @date.ToString("MM/dd/yyyy") })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(s => s.EffectiveDate, new { @class = "form-control ", @placeholder = "Date of Birth", @type = "date" })


                                        }


                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
                @*<center>
                <hr />
                <h3>Other items</h3>
            </center>
            <table id="example2" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Menu Item</th>
                        <th>Unit</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (IngredientInfo IInfo in Model.IngredientInfoList)
                    {
                        <tr>
                            <td>@IInfo.ItemName</td>
                            <td>@IInfo.MeasurementUnit.Unit</td>

                            <td><a href="@Url.Content("~/Order/MenuOrder?MenuItemId="+IInfo.UId+"&&OrderId="+Model.MenuOrderId+"&&OrderMenuType=2")" class="btn btn-primary px-3">Add Other Item</a></td>
                        </tr>
                    }
                </tbody>
            </table>*@
            </div>
    </div>
</div>
<script src="~/Asset/js/jquery-3.5.1.js"></script>
<script src="~/Asset/js/jquery.dataTables.min.js"></script>
<script src="~/Asset/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>