@using MIMS
@using MIMS.Helpers
@using Dinota.Security
@using Dinota.Domain.MenuCategory
@using Dinota.Domain.MenuItem
@using AlfasiWeb.Models
@model MenuSearchModel
    @{
        ViewBag.Title = "MenuOrderList";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="d-none">
        <div class="bg-primary border-bottom p-3 d-flex align-items-center">
            <a class="toggle togglew toggle-2" href="#"><span></span></a>
            <h4 class="font-weight-bold m-0 text-white">Menu List</h4>
        </div>
    </div>
    <div class="container position-relative">
        
        <div class="py-5 osahan-profile row">

            <center><h4>Menu List</h4></center>

            <div class="col-md-12 mb-3">
               
                <div class="clearfix"></div>
                @Html.Message()
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                          
                            <th>Name</th>
                            <th> Category</th>
                            <th> Unit</th>
                           
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (MenuItem ord in Model.MenuItemList)
                        {
                        <tr>
                            <td>@ord.Name</td>
                            <td>
                                @ord.MenuCategory.Name
                            </td>
                            

                            <td>
                                @ord.MeasurementUnit.Unit
                            </td>
                            
                            <td><a href="@Url.Content("~/Menu/OrderMenu/")@ord.UId" class="btn btn-primary px-3">Order</a></td>
                        </tr>
                        }
                    </tbody>
                </table>




            </div>
        </div>

    </div>
               <script src="~/Asset/js/jquery-3.5.1.js"></script>
               <script src="~/Asset/js/jquery.dataTables.min.js"></script>
               <script src="~/Asset/js/dataTables.bootstrap4.min.js"></script>
               <script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
               </script>
